<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.username %></p>
<br>
<p>Created at: <%= @event.created_at %></p>
<p>Updated at: <%= @event.updated_at %></p>
<br>
<p>Taking place in: <%= @event.when %></p>

<% if @event.creator == current_user %>
	<p>You created it... You better come!</p>
<% elsif @event.attendees.where(id: current_user.id).any?%>
	<p>You signed up for this event!</p>
<% else %>
	<%= button_to "Sign up for attendance here!", event_attendances_create_path, 
				params: {attended_event_id: @event.id, attendee_id: current_user.id} %>
<% end%>