<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.username %></p>
<br>
<p>Created at: <%= @event.created_at %></p>
<p>Updated at: <%= @event.updated_at %></p>
<br>
<p>Taking place in: <%= @event.when %></p>