<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.username %></p>
<br>
<p>Created at: <%= @event.created_at %></p>
<p>Updated at: <%= @event.updated_at %></p>
<br>
<p>Taking place in: <%= @event.when %></p>

<% if @event.creator == current_user %>
	<p>You created it... You better come!</p>
<% elsif @event.attendees.where(id: current_user.id).any?%>
	<p>You signed up for this event!</p>
<% else %>
	<!--
	<%= form_with model: @event_attendance do |form| %>
		<%= form.hidden_field :attended_event_id, value: @event %>
		<%= form.hidden_field :attendee_id, value: current_user %>
		<%= form.submit "Sign up to attend here!" %>
	<% end %>
-->
	<form accept-charset="UTF-8" action="/event_attendances" method="post">
	<input type="hidden" name="attended_event_id" value="<%= @event.id %>">
	<input type="hidden" name="attendee" value="<%= current_user.id%>">
  <input type="submit" value="Sign up for attendance here!">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
<% end%>